.btn {
  padding: 5px 15px;
  border: none;
  font-size: 14px;
  margin: 0 15px;
}
.header {
  display: flex;
  align-items: center;
}
.task {
  background: white;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
