.btn {
  padding: 5px 15px;
  border: none;
  font-size: 14px;
  margin: 0 15px;
}
.header {
  display: flex;
  align-items: center;
}
.task {
  background: white;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}
.task.task-active:after {
  content: "";
  width: 10px;
  height: 100%;
  background: green;
  position: absolute;
  left: 0;
  top: 0;
}
